body{
  font-family: cursive;
 background-image: url("quiz.jpg");
  background-repeat:no-repeat ;
  background-size: 1700px;


}
.app{ 
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 35px;
  color:whitesmoke;
  text-transform: uppercase;
  
}
.score-section{
 font-size: 80px;
  display: flex;
  align-items: center;
 color:#decc26e9 ; 
  background-color: #4347b80a;
  font-family: ' monospace';
  margin-top: 280px;
}
.answer-section{
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-transform: capitalize;
  
}
.question-secton{
  font-family: sans-serif;
  font-size: 30px;
  color:rgb(177,177,214);
  text-shadow:5px 5px 6px , rgb(165, 169, 170);
 

}
button{
 border-radius: 5ch;
  color: rgb(197, 207, 207);
  padding: 30px;
 margin: 20px;
background-color:  #4347b80a;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 500px;
 cursor: pointer;
 font-size: 30px;
 font-family: 'Courier New', Courier, monospace;
 
}
button:hover{
  background-color: #ccc058;
  color:rgb(0, 5, 5);
}
.question-text{
  margin: 20px 20px;
  color:whitesmoke;
  text-transform: capitalize;
  font-family: monospace;
  text-shadow: 5px 5px 6px rgb(81, 158, 189);
}